<app-header></app-header>
<h5 align="center" style="padding-bottom: 10px; padding-top:10px;" class="card-title">Podcast title</h5>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
          <div class="card card-20201">
            <img src="assets/img/1.png" class="card-img-top" alt="...">
            <div  class="card-body">
              
              <p class="card-text mb-5">
                <audio controlsList="nodownload" style="width:100%" controls >
                    <source  src="http://whiteoakstables.net/chat/audio/rock.wav">
                  </audio>  
                  
              </p>
              <div style="display: flex;" class="blog_right_sidebar container"> 
                <p>Listens: 300</p>&nbsp;&nbsp;&nbsp;
                <p><i class="material-icons">bookmark</i></p>&nbsp;&nbsp;&nbsp;
                <i class="material-icons"> report</i>
            </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-8">
            <div class="card card-21029">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text"><i>Crime channel by <a routerLink="/user/profile/3"> Igwe Micheal</a></i></p>
                <a style="color: white;" class="btn btn-primary">Subscribe</a>
              </div>
            </div>
          </div>
        </div>
</div>
  