<app-header></app-header>
<div class="upper-item">
    <div><a routerLink="/user/addcontent"><i class="material-icons">add_circle</i> Create Channel</a></div>

<div class="col-md-3">
<div class="input-group">           
        <app-channel-serach-form></app-channel-serach-form>       
  </div>
</div>
</div>

<div class="upper-button">

<div >
    <a routerLink="/user/channel-video"><button  type="button" class="btn px-4 m-1 btn-outline-info">Video Channels</button></a>
</div>
</div>




    <div class="popular_courses">
                <div class="container">
                    <div class="row">
                        
                        <div *ngFor="let a of channel| paginate: {id:'channel', itemsPerPage: 6, currentPage: p, totalItems: total}" class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_courses">
                                    <div class="thumb">
                                        <a routerLink="/user/channel-item/{{a.content.token_channel}}">
                                            <img style="height: 250px;" src="{{a.images}}" alt="">
                                        </a>
                                    </div>
                                    <div class="courses_info">
                                        <h5>{{a.content.name | slice:0:30}}</h5>
                                        <a routerLink="/user/channel-item/{{a.content.token_channel}}"><p>{{a.content.description| slice:0:100}}...</p></a>
                                                <p *ngIf="a.content.content == 1">Podcast Channel</p>
                                                <p *ngIf="a.content.content == 2">Video Channel</p>
                                        <div class="star_prise d-flex justify-content-between">
                                            <div class="star">
                                                    <a routerLink="/user/profile/{{a.user.token}}"><p>By {{a.user.name}}  {{a.content.created_at | timeAgo}}</p></a> 
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>                                    
                    </div>
                    <div align="center"><pagination-controls id="channel"  (pageChange)="p = $event;  paginate($event)"></pagination-controls></div> 
            </div>
            </div>
