<div class="container">
          
    <div>
            <div style="padding-top:30px;" class="section-heading mb-5">
          <h3>Fire<span style="color:rgb(91, 150, 163);">Ball</span></h3> 
        </div>    
            <div class="tab-card p-4">
              <div class="tab-menu tab-secondary mb-4">
                <div class="nav flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                </div>
              </div>
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  
                          <div class="blog_right_sidebar container"> 
                                  <aside class="single_sidebar_widget newsletter_widget">
                                          <h4 class="widget_title">Edit Details</h4>
              
                                          <form action="#">
                                              <div class="form-group">
                                                  <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                                      onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                              </div>
                                              <div class="form-group">
                                                      <input type="name" class="form-control"  placeholder='Enter name' required>
                                                  </div>
                                              <div align="center"><button class="boxed_btn_rev"
                                                  type="submit">Edit</button></div>
                                          </form>
                                      </aside>
                                      <hr/>
                                      <aside class="single_sidebar_widget newsletter_widget">
                                        <h4 class="widget_title">Edit Password</h4>
            
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="password" class="form-control"  placeholder='Current password' required>
                                            </div>
                                            <div class="form-group">
                                                    <input type="password" class="form-control"  placeholder='New password' required>
                                                </div>
                                            <div align="center"><button class="boxed_btn_rev"
                                                type="submit">Change</button></div>
                                        </form>
                                    </aside>
                                    <hr/>
                                    <aside class="single_sidebar_widget newsletter_widget">
                                        <h4 class="widget_title">Upload pics</h4>
            
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="file" accept="image/*" class="form-control"  required>
                                            </div>
                                            
                                            <div align="center"><button class="boxed_btn_rev"
                                                type="submit">Upload</button></div>
                                        </form>
                                    </aside>
                                    <hr/>
                                    <aside class="single_sidebar_widget newsletter_widget">
                                        <h4 class="widget_title">Delete account</h4>
            
                                        
                                            
                                            <div align="center"><button (click)="open(content)" class="btn btn-danger"
                                                type="submit">Delete</button></div>
                                       
                                    </aside>
                                  </div>
                 
                </div>
                
                
              </div>
            </div>
          
     
      
    </div>
  </div>


  <!-- modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <p>Are you sure you want to delete account?</p>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  