.video-list{
    display: flex;
}
.site-section{
    width:100%;
}

.upper-item{
    padding-top:10px;
    padding-left:10px;
}


@media (max-width: 768px){
    .video-list{
        display: block;
    }
    .site-section{
        width:100%;
    }
    
    .upper-item{
        display: block;
    }
    
}