.podcast-list{
    display: flex;
}
.site-section{
    width:70%;
}
.blog_right_sidebar{
    width:30%;
    padding-top:30px;
}
.upper-item{
    display: flex;
    padding-top:10px;
    padding-left:10px;
}

@media (max-width: 768px){
    .podcast-list{
        display: block;
    }
    .site-section{
        width:100%;
    }
    .blog_right_sidebar{
       display: none;
    }
    .upper-item{
        display: block;
    }
    
}