<app-header></app-header>

<h5 align="center" style="padding-bottom: 10px; padding-top:10px;" class="card-title">{{video.message.title}}</h5>
  <div class="embed-responsive embed-responsive-16by9 container">
    <video class="embed-responsive-item" controls  controls="controls" controlsList="nodownload">
        <source src="{{video.video}}"/>
    </video>
</div>
<div style="display: flex;" class="blog_right_sidebar container"> 
    <p>Views: {{video.message.views| formatNumber}}</p>&nbsp;&nbsp;&nbsp;
    <p><i [ngStyle]="{'color':bookmark === true ? 'rgb(91, 150, 163)' : '#333' }" style="cursor: pointer;" (click)="bookmark_func()" class="material-icons">bookmark</i></p>&nbsp;&nbsp;&nbsp;
    <p>Channel: <a style="color:rgb(91, 150, 163);" routerLink="/user/channel-item/{{video.message.channel.token_channel}}"> {{video.message.channel.name}}</a>&nbsp;&nbsp;&nbsp;  
      By:<a style="color:rgb(91, 150, 163);" routerLink="/user/profile/{{video.message.user.token}}"> {{video.message.user.name}}</a>
    </p>

</div>
<br/>
<div class="container">
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          See Videos description
        </a>
        <a (click)="open(content2)" class="btn px-4 m-1 btn-outline-danger">
          Report Video
        </a>
        <button *ngIf="user.message.id == video.message.user_id" (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Settings</button>
      </p>
      <div class="collapse" id="collapseExample">
        <div style="white-space: pre-wrap;" class="card card-body">
         {{video.message.description}}
          <br/>
          <small>Created:{{video.message.created_at| date:"MM/dd/yyyy"}} at {{video.message.created_at|date :'h:mm' }}</small>
        </div>
      </div>
</div>

<!-- settings modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-body">
   <h5>Edit Video</h5>
   <form [formGroup]="editForm" (ngSubmit)="editVideo(); modal.dismiss('Cross click');">
     <div class="form-group">
      <input type="text" formControlName="title" placeholder="title" class="form-control">
     </div>
     <div class="form-group">
        <textarea formControlName="description" placeholder="Report video" class="form-control">

          </textarea>
     </div>
     <button [disabled]="editForm.invalid" class="btn px-4 m-1 btn-outline-info"> Update</button>

   </form>
   <hr/>
   <button (click)="open(content3); modal.dismiss('Cross click');" class="btn px-4 m-1 btn-outline-damger">Delete Video</button>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<!-- report modal -->
<ng-template #content2 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-body">
    <h5>Report Video</h5>
    <form [formGroup]="reportForm" (ngSubmit)="report(); modal.dismiss('Cross click');">
      
      <div class="form-group">
        <textarea formControlName="report" placeholder="Report video" class="form-control">

        </textarea>
      </div>
      
     <button [disabled]="reportForm.invalid" class="btn px-4 m-1 btn-outline-info"> Report</button>
  </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<!-- delete video modal -->
<ng-template #content3 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <h5>Are You Sure You Want ToDelete Video (all content in this video would be deleted)</h5>
      <button (click)="modal.dismiss('Cross click')" class="btn px-4 m-1 btn-outline-info">No</button>
      <button (click)="deleteVideo(); modal.dismiss('Cross click')" class="btn px-4 m-1 btn-outline-danger"> Delete</button>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>