<app-header></app-header>
<div  class="site-section bg-image" style="background-image: url('assets/img/learn.jpg'); filter: blur(0.7px);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 mx-auto text-center align-self-center bg-text">
            <h1 class="font-weight-bold mb-0 text-white">Fire <span style="color:rgb(91, 150, 163);">Ball</span></h1>
            <p class="text-white text-center">In Fire <span style="color:rgb(91, 150, 163);">Ball</span> we believe learning should be free and accessible to everyone.
                Share knowledge with countless people at no cost via videos and podcasts. Create a channel, add content to it and share to the world. </p>
          </div>
      </div>
      
    </div>
  </div>
  
<br/>
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="single_about_info">
                    <h3>Change the way we learn <br>
                        create your channel</h3>
                    <p>Join the educational revolution, make knowledge accessible and free.
                        Create a channel, upload videos or podcast for your scubscribers to learn.
                    Let's make learning fun again. </p>
                    <a routerLink="/user/channel" class="boxed_btn">Create a channel</a>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="about_tutorials">
                    <div class="courses">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>{{info.video| formatNumber}}</span>
                                <p> Videos</p>
                            </div>
                        </div>
                    </div>
                    <div class="courses-blue">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>{{info.podcast| formatNumber}}</span>
                                <p> Podcasts</p>
                            </div>

                        </div>
                    </div>
                    <div class="courses-sky">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>{{info.user| formatNumber}}</span>
                                <p> Users</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_courses">
        <div class="container">
<div class="row">
        <div class="col-xl-12">
            <div class="section_title text-center mb-100">
                <h3>New channels</h3>
            </div>
        </div>
        <div *ngFor="let a of channel" class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_courses">
                    <div class="thumb">
                        <a routerLink="/user/channel-item/{{a.content.token_channel}}">
                            <img style="height: 300px;" src="{{a.images}}" alt="">
                        </a>
                    </div>
                    <div class="courses_info">
                        <span>{{a.content.name}}</span>
                        <h3><a routerLink="/user/channel-item/{{a.content.token_channel}}">{{a.content.description| slice:0:70}}... <br>
                                <p *ngIf="a.content.content == 1">Podcast Channel</p>
                                <p *ngIf="a.content.content == 2">Video Channel</p></a></h3>
                        <div class="star_prise d-flex justify-content-between">
                            <div class="star">
                                    <a routerLink="/user/profile/{{a.user.token}}"><span>By {{a.user.name}} on {{a.content.created_at | date:"MM/dd/yyyy"}} at {{a.content.created_at | date :'h:mm:ss'}}</span></a> 
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
                
                    
    </div>
    <div class="col-xl-12">
            <div class="more_courses text-center">
                <a routerLink="/user/channel" class="boxed_btn_rev">More Channels</a>
            </div>
        </div>
    </div>
    </div>


    

    <app-footer></app-footer>