<app-header></app-header>
<div class="site-section bg-image" style="background-image: url('assets/img/learn.jpg'); filter: blur(0.7px);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 mx-auto text-center align-self-center bg-text">
            <h1 class="font-weight-bold mb-0 text-white">Fire <span style="color:red;">Ball</span></h1>
            <p class="text-white text-center">In Fire <span style="color:red;">Ball</span> we believe learning should be free and fun. Learn for free via video and podcast<br/>through community effort</p>
            <p><button class="btn btn-danger px-4 m-1 btn-lg px-4">Get Started</button></p>
          </div>
      </div>
      
    </div>
  </div>
  
<br/>
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="single_about_info">
                    <h3>Over 7000 Tutorials <br>
                        from 20 Courses</h3>
                    <p>Our set he for firmament morning sixth subdue darkness creeping gathered divide our let god
                        moving. Moving in fourth air night bring upon you’re it beast let you dominion likeness open
                        place day great wherein heaven sixth lesser subdue fowl </p>
                    <a href="#" class="boxed_btn">Enroll a Course</a>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="about_tutorials">
                    <div class="courses">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>20+</span>
                                <p> Courses</p>
                            </div>
                        </div>
                    </div>
                    <div class="courses-blue">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>7638</span>
                                <p> Courses</p>
                            </div>

                        </div>
                    </div>
                    <div class="courses-sky">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>230+</span>
                                <p> Courses</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>