<section style="padding-top: 20px;" class="blog_area">
    <div class="container">


       
            <div style="font-size: 22px;" align="right">
                    <button  type="button" class="btn px-4 m-1 btn-outline-info">Settings</button>
            </div>
            <br/>
                <div class="blog_left_sidebar">
<article class="blog_item">
    <div class="blog_item_img">
        <img class="card-img rounded-0" src="assets/img/single_blog_1.png" alt="">
    </div>

    <div class="blog_details">
       
        <ul class="blog-info-link">
            <li><a href="#"><i class="fa fa-user"></i> Micheal Okpara</a></li>
            <li><a href="#"><i class="material-icons">email</i> kali@gmail.com</a></li>
            <li><a href="#"><i class="material-icons">history</i> your history</a></li>
            <li><a href="#"><i class="material-icons">bookmark</i> your bookmark</a></li>
        </ul>
    </div>
</article>
                </div>
            </div>
        </section>
        <div align="center">
                <a class="btn btn-primary" routerLink="/user/addcontent" style="color:white;" role="button" > Create a FireBall</a>
        </div>

        <div class="popular_courses">
                <div style="width: 90%;" class="container">
        <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Your channels</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_courses">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/1.png" alt="">
                                </a>
                            </div>
                            <div class="courses_info">
                                <span>Photoshop</span>
                                <h3><a href="#">Mobile App design step by step <br>
                                        from beginner</a></h3>
                                <div class="star_prise d-flex justify-content-between">
                                    <div class="star">
                                        <span>Ogo Nwoke</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="assets/img/3.png" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Photoshop</span>
                                    <h3><a href="#">Mobile App design step by step <br>
                                            from beginner</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            
                                            <span>Mike Philip</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_courses">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/6.png" alt="">
                                        </a>
                                    </div>
                                    <div class="courses_info">
                                        <span>Photoshop</span>
                                        <h3><a href="#">Mobile App design step by step <br>
                                                from beginner</a></h3>
                                        <div class="star_prise d-flex justify-content-between">
                                            <div class="star">
                                                
                                                <span>Chidinma Diol</span>
                                               
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
            </div>
            </div>

             