<h5 align="center" style="padding-bottom: 10px; padding-top:10px;" class="card-title">{{podcast.message.title}}</h5>

<div class="container">
    <div>
        <div>
          <div class="card card-20201">
            <div  class="card-body">
              
              <p class="card-text mb-5">
                <audio [src]="podcast.podcast" controlsList="nodownload" style="width:100%" controls >
                    <source>
                  </audio>  
                  
              </p>
              <div style="display: flex;" class="blog_right_sidebar container"> 
                <p>Listens: {{podcast.message.listens|formatNumber}}</p>&nbsp;&nbsp;&nbsp;
                <p><i [ngStyle]="{'color':bookmark === true ? 'rgb(91, 150, 163)' : '#333' }" style="cursor: pointer;" (click)="bookmark_func()" class="material-icons">bookmark</i></p>&nbsp;
               
            </div>
            </div>
          </div>
        </div>
    
        <div >
            <div class="card card-21029">
              <div class="card-body">
                <p [innerHTML]="highlight()" style="white-space: pre-wrap;" class="card-text">{{podcast.message.desciption}}</p>
                <br/>
                <small>{{podcast.message.created_at| timeAgo}}</small>
                <p class="card-text"><a routerLink="/user/channel-item/{{podcast.message.channel.token_channel}}">{{podcast.message.channel.name}}</a> by <a routerLink="/user/profile/{{podcast.message.user.token}}">{{podcast.message.user.name}}</a></p>
                <a (click)="open(content2)" class="btn px-4 m-1 btn-outline-danger">Report Podcast</a>
                <button *ngIf="user.message.id == podcast.message.user_id" (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Settings</button>
              </div>
            </div>
          </div>
        </div>
</div>
  
<!-- podcast comment -->
<div *ngIf="comments.message.length > 0" class="container">
  <h5>Comments {{comments.total| formatNumber}}</h5>
      <ul *ngFor="let a of comments.message| paginate: {id:'comment', itemsPerPage: 5, currentPage: p, totalItems: comments.total}" class="list-group">
        <p><a routerLink="/user/profile/{{a.user.token}}" style="color:black;">{{a.user.name}}</a>&nbsp;<small>{{a.created_at|timeAgo}}</small></p>

        <li style="color:black;" class="list-group-item">
          <div [innerHTML]="hightlight_comment(a.comment)" style="white-space: pre-wrap;">{{a.comment}}</div>
          
          <div style="padding-top: 7px; color: rgb(214, 81, 81);" *ngIf="user.message.id == a.user.id">
            <small (click)="open(content4)" style="cursor:pointer;">delete</small>
          </div>
        </li>



        <!-- view replies -->
        <div *ngIf="a.podcastreplies.length < 1">
          No replies here.
        </div>
        <div *ngIf="a.podcastreplies.length > 0">
          <p>Replies</p>
          <div style="padding-left: 10px;" *ngFor="let b of a.podcastreplies| paginate: {id:a.id, itemsPerPage: 5, currentPage: a.comment}">
            <li style="color: #333;" class="list-group-item">
            <a routerLink="/user/profile/{{b.user.token}}">{{b.user.name}}</a> :<p [innerHTML]="hightlight_comment(b.comment)" style="white-space: pre-wrap;">{{b.comment}}</p> 
            <div style="padding-top: 7px; color: rgb(214, 81, 81);" *ngIf="user.message.id == b.user.id">
              <small (click)="deleteReply(a, b)" style="cursor:pointer;">delete</small>
            </div>
            </li>
            {{b.created_at|timeAgo}}
          </div>
         
          <div align="center"><pagination-controls id="{{a.id}}"  (pageChange)="a.comment = $event;"></pagination-controls></div> 

        </div>
       



        <!-- adding reply -->
        <div align="right" style="padding-top:10px;">
          <form style="width: 50%;" [formGroup]="replyForm" (ngSubmit)="replyComment(a)">
  
            <div class="form-group">
                    <textarea formControlName="comment" class="form-control"  placeholder='reply {{a.user.name}}'></textarea>
                </div>
            <div align="center" ><button class="btn px-4 m-1 btn-outline-info" [disabled]="replyForm.invalid" >Reply</button></div>
          </form>
        </div>



         <!-- delete comment modal -->
         <ng-template #content4 let-modal>
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div align="center" class="modal-body">
            <h5>Are You Sure You Want To Delete comment (all replies in this comment would be deleted)</h5>
            <button (click)="modal.dismiss('Cross click')" class="btn px-4 m-1 btn-outline-info">No</button>
            <button (click)="deleteComment(a); modal.dismiss('Cross click')" class="btn px-4 m-1 btn-outline-danger"> Delete</button>
          </div>
          <div class="modal-footer">
          </div>
        </ng-template>

        <!-- end of modal -->
        </ul><br/>
       <div align="center"><pagination-controls id="comment"  (pageChange)="p = $event; paginateComment($event)"></pagination-controls></div> 
</div>

<div *ngIf="comments.message.length < 1" class="container">
  <p align="center">No comments in this podcast yet.</p>
</div>


<!-- add comments -->
<div class="container" style="width:70%;">
  <form [formGroup]="commentForm" (ngSubmit)="addComment()">
  
    <div class="form-group">
        <p>Add Comment</p>

        <div *ngIf="comment_spinner" class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

            <textarea formControlName="comment" class="form-control"  placeholder='Got something to say?'>
                </textarea>
        </div>
       
       
    <div align="center" ><button class="btn px-4 m-1 btn-outline-info" [disabled]="commentForm.invalid" >Add Comment</button></div>
  </form>
</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <p>Edit podcast</p>
   <div *ngIf="edit_spinner" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
   <form [formGroup]="editForm" (ngSubmit)="editPodcast();">
      <div class="form-group">
       <input type="text" formControlName="title" placeholder="title" class="form-control">
      </div>
      <div class="form-group">
         <textarea style="height:200px;" formControlName="desciption" placeholder="edit podcast" class="form-control">
 
           </textarea>
      </div>
<div align="center"><button [disabled]="editForm.invalid" class="btn px-4 m-1 btn-outline-info"> Update</button></div>
 
    </form>
    <hr/>
   <div align="center"><button (click)="open(content3); modal.dismiss('Cross click');" class="btn px-4 m-1 btn-outline-damger">Delete Podcast</button></div> 
   </div>
  <div class="modal-footer">
  </div>
</ng-template>


<!-- report  -->
<ng-template #content2 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <h5>Report podcast</h5>
     <div *ngIf="report_spinner" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
     <form [formGroup]="reportForm" (ngSubmit)="report()">
      
        <div class="form-group">
          <textarea formControlName="report" placeholder="Report video" class="form-control">
  
          </textarea>
        </div>
        
       <button [disabled]="reportForm.invalid" class="btn px-4 m-1 btn-outline-info"> Report</button>
    </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>


  <!-- delete -->
  <ng-template #content3 let-modal>
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div align="center" class="modal-body">
        <h5>Are You Sure You Want To Delete podcast (all content in this video would be deleted)</h5>
        <button (click)="modal.dismiss('Cross click')" class="btn px-4 m-1 btn-outline-info">No</button>
        <button (click)="deletepodcast(); modal.dismiss('Cross click')" class="btn px-4 m-1 btn-outline-danger"> Delete</button>
      </div>
      <div class="modal-footer">
      </div>
    </ng-template>