.channel{
    display: flex;
}
.item{
    width:30%;
}
.content{
    width: 75%;
    padding-left:20px;
}
.small-list{
    display: none;
}

@media (max-width: 768px){
    .large-list{
        display: none;
    }
    .small-list{
        display:  block;
    }
    .item{
        width:100%;
    }
    .content{
        width: 100%;
        padding-left:0px;
    }
    .channel{
        display: block;
    }
}