<app-header></app-header>
                            
                                <h5 align="center">My Channel</h5>

<div style="padding-top:10px;" class="container">
   
        <div class="channel">
                <div class="list item">
                        <ul class="list-group large-list">
                                        <p >3000 subscribers
                                                        <a style="color:white;" class="btn btn-primary" >Subscribe</a>     
                                                        </p>
                                <p> <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                          See videos
                                        </a>
                                      </p>
                                      
                                      <div class="collapse" id="collapseExample2">
                                        <div class="card card-body">
                                                
                                                <p><a routerLink="/user/profile/3"> Igwe Micheal</a><button (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Edit</button></p> 
                                                <h5>Description</h5>
                                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                                        <ul class="list-group">
                                                              <a (click)="hideDescription()" routerLink="/user/channel-item/1/video/1"> <li  class="list-group-item active">Cras justo odio</li></a> 
                                                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                                                <li class="list-group-item">Morbi leo risus</li>
                                                                <li class="list-group-item">Porta ac consectetur ac</li>
                                                                <li class="list-group-item">Vestibulum at eros</li>
                                                              </ul>
                                               
                                        </div>
                                      </div>
                        </ul>
                </div>
                <div class="small-list">
                                <p >3000 subscribers
                                                <a style="color:white;" class="btn btn-primary" >Subscribe</a>     
                                                </p>
                                <p> <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                          See videos
                                        </a>
                                      </p>
                                      
                                      <div class="collapse" id="collapseExample2">
                                        <div class="card card-body">
                                                <div class="list item">
                                                <p><a routerLink="/user/profile/3"> Igwe Micheal</a><button (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Edit</button></p> 
                                                <h5>Description</h5>
                                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        <ul class="list-group">
                                                              <a (click)="hideDescription()" routerLink="/user/channel-item/1/video/1"> <li  class="list-group-item active">Cras justo odio</li></a> 
                                                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                                                <li class="list-group-item">Morbi leo risus</li>
                                                                <li class="list-group-item">Porta ac consectetur ac</li>
                                                                <li class="list-group-item">Vestibulum at eros</li>
                                                              </ul>
                                                </div>
                                        </div>
                                      </div>
                          </div>




                <div class="content">
                                <router-outlet></router-outlet>
                        <div *ngIf="channel_description" >
                                        <section style="padding-top: 20px;" class="blog_area">
                                                        <div class="container">
                                                                    <div class="blog_left_sidebar">
                                                    <article class="blog_item">
                                                        <div class="blog_item_img">
                                                            <img class="card-img rounded-0" src="assets/img/single_blog_1.png" alt="">
                                                        </div>
                                                    
                                                        
                                                    </article>
                                                                    </div>
                                                                </div>
                                                            </section>
                        </div>
                      
                 
                        
                </div>
                    


            </div>
</div>


<ng-template #content let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <p>Edit Video</p>
        </div>
        <div class="modal-footer">
        </div>
      </ng-template>