<app-header></app-header>
                            
                                <h5 align="center">{{channel.message.name}}</h5>
  
<!-- Show if channel type is podcast -->
<div *ngIf="channel.message.content== 1">
    <div style="padding-top:10px;" class="container">
   
        <div class="channel">
                <div class="list item">
                    <p >{{channel.subscribers| formatNumber}} subscribers
                        <a style="color:white;" class="btn btn-primary" >Subscribe</a>     
                        </p>
                        <ul class="list-group large-list">
                                        
                                                <div class="card card-body">
                                                
                                                <p><a routerLink="/user/profile/{{channel.message.user.token}}"> {{channel.message.user.name}}</a><button (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Edit</button></p> 
                                               
                                                <div *ngIf="channel.message.podcasts.length < 1">
                                                    <p>No Podcast yet here. Check back later</p>
                                                  </div>
                                                      <ul *ngFor="let a of channel.message.podcasts" class="list-group">
                                                          <a (click)="hideDescription()" routerLink="/user/channel-item/{{channel.message.token_channel}}/podcast/{{a.token}}"> <li routerLinkActive="activelink">  {{a.title}}</li></a>    
                                                          <hr/> 
                                                        </ul>
                                               
                                        </div>
                        </ul>

                        <!-- small list -->

                        <ul class="list-group small-list">
                            
                    <p> <a class="btn btn-primary vid" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                              See videos
                            </a>
                          </p>
                          
                          <div class="collapse" id="collapseExample2">
                              <div class="card card-body">
                                      
                                      <p><a routerLink="/user/profile/{{channel.message.user.token}}"> {{channel.message.user.name}}</a><button (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Edit</button></p> 
                                      <div *ngIf="channel.message.podcasts.length < 1">
                                          <p>No Podcast yet here. Check back later</p>
                                        </div>
                                            <ul *ngFor="let a of channel.message.videos" class="list-group">
                                                <a (click)="hideDescription()" routerLink="/user/channel-item/{{channel.message.token_channel}}/podcast/{{a.token}}"> <li routerLinkActive="activelink">{{a.title}}</li></a>    
                                                <hr/>    
                                              </ul>
                                       
                              </div>
                            </div>
            </ul>
                </div>
                




                <div class="content">
                                <router-outlet></router-outlet>
                        <div *ngIf="channel_description" >
                                        <section style="padding-top: 20px;" class="blog_area">
                                                        <div class="container">
                                                                    <div class="blog_left_sidebar">
                                                    <article class="blog_item">
                                                        <div class="blog_item_img">
                                                            <img class="card-img rounded-0" style="height:450px;" src="{{channel.channel_pics}}" alt="">
                                                        </div>
                                                        <div class="blog_details">
                                                            <p align="justify" class="body">{{channel.message.description}}</p>
            
                                                        </div>
                                                        
                                                    </article>
                                                                    </div>
                                                                </div>
                                                            </section>
                        </div>
                      
                 
                        
                </div>
                    


            </div>
</div>
</div>





<!-- Show if channel type is video -->

<div *ngIf="channel.message.content== 2">
    <div style="padding-top:10px;" class="container">
   
        <div class="channel">
                <div class="list item">
                    <p >{{channel.subscribers| formatNumber}} subscribers
                        <a style="color:white;" class="btn btn-primary" >Subscribe</a>     
                        </p>
                        <ul class="list-group large-list">
                                        
                                                <div class="card card-body">
                                                
                                                <p><a routerLink="/user/profile/{{channel.message.user.token}}"> {{channel.message.user.name}}</a><button (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Edit</button></p> 
                                               
                                                  <div *ngIf="channel.message.videos.length < 1">
                                                    <p>No Video yet here. Check back later</p>
                                                  </div>
                                                      <ul *ngFor="let a of channel.message.videos" class="list-group">
                                                          <a (click)="hideDescription()" routerLink="/user/channel-item/{{channel.message.token_channel}}/video/{{a.token}}"> <li routerLinkActive="activelink">  {{a.title}}</li></a>    
                                                          <hr/> 
                                                        </ul>
                                          
                                        </div>
                        </ul>

                        <!-- small list -->

                        <ul class="list-group small-list">
                            
                    <p> <a class="btn btn-primary vid" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                              See videos
                            </a>
                          </p>
                          
                          <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                    
                                    <p><a routerLink="/user/profile/{{channel.message.user.token}}"> {{channel.message.user.name}}</a><button (click)="open(content)"  type="button" class="btn px-4 m-1 btn-outline-info">Edit</button></p> 
                                    <div *ngIf="channel.message.videos.length < 1">
                                        <p>No Video yet here. Check back later</p>
                                      </div>
                                          <ul *ngFor="let a of channel.message.videos" class="list-group">
                                              <a (click)="hideDescription()" routerLink="/user/channel-item/{{channel.message.token_channel}}/video/{{a.token}}"> <li routerLinkActive="activelink">{{a.title}}</li></a>    
                                              <hr/>    
                                            </ul>
                                     
                            </div>
                          </div>
            </ul>
                </div>
                




                <div class="content">
                                <router-outlet></router-outlet>
                        <div *ngIf="channel_description" >
                                        <section style="padding-top: 20px;" class="blog_area">
                                                        <div class="container">
                                                                    <div class="blog_left_sidebar">
                                                    <article class="blog_item">
                                                        <div class="blog_item_img">
                                                            <img class="card-img rounded-0" style="height:450px;" src="{{channel.channel_pics}}" alt="">
                                                        </div>
                                                        <div class="blog_details">
                                                            <p align="justify" class="body">{{channel.message.description}}</p>
            
                                                        </div>
                                                        
                                                    </article>
                                                                    </div>
                                                                </div>
                                                            </section>
                        </div>
                      
                 
                        
                </div>
                    


            </div>
</div>
  </div>



<ng-template #content let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <p>Edit Video</p>
        </div>
        <div class="modal-footer">
        </div>
      </ng-template>