<div class="container">
    <h5 align="center" style="padding-bottom: 10px; padding-top:10px;" class="card-title">{{podcast.message.title}} <div *ngIf="podcast.message.suspended"> <p style="color:rgb(161, 76, 76);">podcast has been suspended</p></div></h5>

    <div class="row">
        <div class="col-lg-4">
          <div class="card card-20201">
            <img src="{{podcast.channel_pics}}" class="card-img-top" alt="...">
            <div  class="card-body">
              
              <p class="card-text mb-5">
                <audio controlsList="nodownload" style="width:100%" controls >
                    <source  src="{{podcast.podcast}}">
                  </audio>  
                  
              </p>
              <div style="display: flex;" class="blog_right_sidebar container"> 
                <p>Listens: {{podcast.message.listens|number}}</p>&nbsp;&nbsp;&nbsp;
               
            </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-8">
            <div class="card card-21029">
              <div class="card-body">
                <p style="white-space: pre-wrap;" class="card-text">{{podcast.message.desciption}}</p>
                <br/>
                <small>{{podcast.message.created_at| date: 'dd/MM/yyyy'}}</small>
                <p class="card-text"><a routerLink="/user/channel-item/{{podcast.message.channel.token_channel}}">{{podcast.message.channel.name}}</a> by <a routerLink="/user/profile/{{podcast.message.user.token}}">{{podcast.message.user.name}}</a></p>
               
                <div style="display: flex;">
                    <div *ngIf="!podcast.message.suspended">
                        <button (click)="suspendPodcast()" class="btn px-4 m-1 btn-outline-danger">
                            suspend video
                        </button> 
                    </div>
                   <div *ngIf="podcast.message.suspended">
                    <button (click)="unsuspendPodcast()" class="btn px-4 m-1 btn-outline-danger">
                        unsuspend video
                    </button>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="report.message.length > 0" class="container">
            <h5>Reports {{report.total| number}}</h5>
                <ul *ngFor="let a of report.message| paginate: {id:'comment', itemsPerPage: 10, currentPage: p, totalItems: report.total}" class="list-group">
                  <p><a routerLink="/user/profile/{{a.user.token}}" style="color:black;">{{a.user.name}}</a>&nbsp;<small>{{a.created_at|date: 'dd/MM/yyyy'}}</small></p>
          
                  <li style="color:black;" class="list-group-item">
                    {{a.report}}
                  </li>
                  </ul>
                  <div align="center"><pagination-controls id="comment"  (pageChange)="p = $event; paginateComment($event)"></pagination-controls></div> 
        </div>
        <div *ngIf="report.message.length < 1" class="container">
            <p>No report here</p>
        </div>
</div>