<app-header></app-header>
<div class="upper-item">
    <div><a routerLink="/user/addcontent"><i class="material-icons">add_circle</i> Create Channel</a></div>

<div class="col-md-3">
<div class="input-group">           
        <form [formGroup]="searchForm" (ngSubmit)="search();">
                <div style="display: flex;">
                        <input formControlName="search" type="text" class="form-control border-right-0" placeholder="Search channel" aria-label="Search channel" aria-describedby="basic-addon1">   
                        <button [disabled]="searchForm.invalid" class="icon-search"></button>
                </div>
                    
            </form>   
  </div>
</div>
</div>

<div style="padding-top:10px" *ngIf="channel.length < 1">
    <div align="center">
    <h5><i class="material-icons"> mood_bad</i></h5> 
     <p>Oops your search didn't return anything. Can we try again?</p>
    </div>
</div>

    <div *ngIf="channel.length > 0" class="popular_courses">
                <div class="container">
                    <div class="row">
                        <div *ngFor="let a of channel| paginate: {id:'channel', itemsPerPage: 6, currentPage: p, totalItems: total}" class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_courses">
                                    <div class="thumb">
                                        <a routerLink="/user/channel-item/{{a.content.token_channel}}">
                                            <img style="height: 300px;" src="{{a.images}}" alt="">
                                        </a>
                                    </div>
                                    <div class="courses_info">
                                        <span>{{a.content.name}}</span>
                                        <h3><a routerLink="/user/channel-item/{{a.content.token_channel}}">{{a.content.description| slice:0:70}}... <br>
                                                <p *ngIf="a.content.content == 1">Podcast Channel</p>
                                                <p *ngIf="a.content.content == 2">Video Channel</p></a></h3>
                                        <div class="star_prise d-flex justify-content-between">
                                            <div class="star">
                                                    <a routerLink="/user/profile/{{a.user.token}}"><span>By {{a.user.name}} on {{a.content.created_at | date:"MM/dd/yyyy"}} at {{a.content.created_at | date :'h:mm:ss'}}</span></a> 
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>                                    
                    </div>
                    <div align="center"><pagination-controls id="channel"  (pageChange)="p = $event;  paginate($event)"></pagination-controls></div> 
            </div>
            </div>
