<div style="padding-top:10px; padding-left:10px;"><a routerLink="/user/addcontent"><i class="material-icons">add_circle</i> Add Podcast</a></div>
<div class="podcast-list">
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-20201">
            
            <div class="card-body">
              <h5 class="card-title">Podcast title <i class="material-icons">mic_none</i></h5>
              <small style="color:gray;"><i>by Kevin Madu at 12/04/2019 8:00</i></small><br/>
              <small  style="color:gray;">listenss: 250</small>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <hr/>
              <small style="color:gray;">posted in new channel</small><br/>
              <a routerLink="/user/podcast/1" class="btn btn-primary">Listen</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card card-20201">
              
              <div class="card-body">
                <h5 class="card-title">Podcast title <i class="material-icons">mic_none</i></h5>
                <small style="color:gray;"><i>by Kevin Madu at 12/04/2019 8:00</i></small><br/>
                <small  style="color:gray;">listenss: 250</small>
                <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <hr/>
                <small style="color:gray;">posted in new channel</small><br/>
                <a routerLink="/user/podcast/1" class="btn btn-primary">Listen</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-20201">
              
              <div class="card-body">
                <h5 class="card-title">Podcast title <i class="material-icons">mic_none</i></h5>
                <small style="color:gray;"><i>by Kevin Madu at 12/04/2019 8:00</i></small><br/>
                <small  style="color:gray;">listenss: 250</small>
                <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <hr/>
                <small style="color:gray;">posted in new channel</small><br/>
                <a routerLink="/user/podcast/1" class="btn btn-primary">Listen</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="blog_right_sidebar container"> 
    <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title">New Podcasts</h4>
      <ul class="list cat-list">
          <li>
              <a href="#" class="d-flex">
                  <p>Resaurant food</p>
              </a>
          </li>
          <li>
              <a href="#" class="d-flex">
                  <p>Travel news</p>
              </a>
          </li>
          <li>
              <a href="#" class="d-flex">
                  <p>Modern technology</p>
              </a>
          </li>
          <li>
              <a href="#" class="d-flex">
                  <p>Product</p>
              </a>
          </li>
          <li>
              <a href="#" class="d-flex">
                  <p>Inspiration</p>
              </a>
          </li>
      </ul>
      <hr/>
      <a routerLink="">view more</a>
  </aside>
  </div>
  </div>