<app-header></app-header>

<div style="padding-top:15px;" class="container">
    <div align="center" *ngIf="sub.length < 1">
            <h5><i class="material-icons"> mood_bad</i></h5> 
            <p>You haven't subscribed to any channel. Let's change that.</p><br/>
            <a routerLink="/user/channel"><button class="btn px-4 m-1 btn-outline-info">Get started</button> </a>
    </div>
        <div *ngIf="sub.length > 0" class="list-group">
            
            <a *ngFor="let a of sub| paginate: {id:'sub', itemsPerPage: 10, currentPage: p, totalItems: total}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 routerLink="/user/channel-item/{{a.channel.token_channel}}" class="mb-1">{{a.channel.name}}</h5>
                <small>Subscribed : {{a.created_at | timeAgo}}<br/>
                <button (click)="unsubscribe(a)" class="btn px-4 m-1 btn-outline-info">unsubscribe</button></small>
              </div>
              <p class="mb-1">{{a.channel.description | slice:0:50}}</p>
            </a>
            <br/>
            <div align="center"><pagination-controls id="sub"  (pageChange)="p = $event;  paginate($event)"></pagination-controls></div> 

          </div>
          <br/>
        
    </div>