<div class="popular_courses">
        <div class="container">
<div class="row">
        
        <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_courses">
                    <div class="thumb">
                        <a href="#">
                            <img src="assets/img/1.png" alt="">
                        </a>
                    </div>
                    <div class="courses_info">
                        <span>Photoshop</span>
                        <h3><a href="#">Mobile App design step by step <br>
                                from beginner</a></h3>
                        <div class="star_prise d-flex justify-content-between">
                            <div class="star">
                                <span>Ogo Nwoke</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_courses">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/img/3.png" alt="">
                            </a>
                        </div>
                        <div class="courses_info">
                            <span>Photoshop</span>
                            <h3><a href="#">Mobile App design step by step <br>
                                    from beginner</a></h3>
                            <div class="star_prise d-flex justify-content-between">
                                <div class="star">
                                    
                                    <span>Mike Philip</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_courses">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/6.png" alt="">
                                </a>
                            </div>
                            <div class="courses_info">
                                <span>Photoshop</span>
                                <h3><a href="#">Mobile App design step by step <br>
                                        from beginner</a></h3>
                                <div class="star_prise d-flex justify-content-between">
                                    <div class="star">
                                        
                                        <span>Chidinma Diol</span>
                                       
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    
    </div>
    </div>
