<app-header></app-header>
        <div class="container">
          
          <div>
                  <div style="padding-top:30px;" class="section-heading mb-5">
                <h3>Fire<span style="color:rgb(91, 150, 163);">Ball</span></h3> 
              </div>    
                  <div class="tab-card p-4">
                    <div class="tab-menu tab-secondary mb-4">
                      <div class="nav flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Login</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Register</a>
                      </div>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        
                                <div class="blog_right_sidebar container"> 
                                        <aside class="single_sidebar_widget newsletter_widget">
                                                <h4 class="widget_title">Login</h4>

                                                <div *ngIf="login_spinner" align="center">
                                                                <div class="spinner-border" role="status">
                                                                  <span class="sr-only">Loading...</span>
                                                                </div>
                                                               </div> 
                    
                                                <form [formGroup]="loginForm" (ngSubmit)="login()">
                                                    <div class="form-group">
                                                        <input formControlName="email" type="email" class="form-control" onfocus="this.placeholder = ''"
                                                            onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                                    </div>
                                                    <div class="form-group">
                                                            <input formControlName="password" type="password" class="form-control"  placeholder='Enter password' required>
                                                        </div>
                                                    <div align="center"><button [disabled]="loginForm.invalid" class="boxed_btn_rev"
                                                        type="submit">Login</button></div>
                                                </form>
                                              <!-- <div align="center"><p (click)="open(content)" style="cursor: pointer;">Forgot password</p></div>   -->
                                            </aside>
                                        </div>
                       
                      </div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="blog_right_sidebar container"> 
                                    <aside class="single_sidebar_widget newsletter_widget">
                                            <h4 class="widget_title">Register</h4>

                                            <div *ngIf="register_spinner" align="center">
                                                        <div class="spinner-border" role="status">
                                                          <span class="sr-only">Loading...</span>
                                                        </div>
                                                       </div> 
                
                                            <form [formGroup]="registerForm" (ngSubmit)="register()">
                                                    <div class="form-group">
                                                            <input formControlName="name" type="text" class="form-control"  placeholder='Enter name' required>
                                                        </div>
                                                <div class="form-group">
                                                    <input type="email" formControlName="email" class="form-control" onfocus="this.placeholder = ''"
                                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                                </div>
                                                <div class="form-group">
                                                        <input type="password" formControlName="password" class="form-control"  placeholder='Enter password min of 6 characters' required>
                                                    </div>
                                                    <div class="form-group">
                                                            <input type="password" formControlName="password_confirmation" class="form-control"  placeholder='Confirm password' required>
                                                        </div>
                                                <div align="center"><button [disabled]="registerForm.invalid" class="boxed_btn_rev"
                                                    type="submit">Register</button></div>
                                            </form>
                                        </aside>
                                    </div>
                      </div>
                      
                    </div>
                  </div>
                
           
            
          </div>
        </div>

        <ng-template #content let-modal>
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(); modal.dismiss('Cross click')">
                        <div class="form-group">
                                <input formControlName="email" type="text" class="form-control"  placeholder='Enter email for your account' required>
                            </div> 
                            <div align="center"><button [disabled]="forgotPasswordForm.invalid" class="boxed_btn_rev"
                                type="submit">Submit</button></div>
                 </form>
                </div>
                <div class="modal-footer">
                </div>
              </ng-template>